// -------------- HEADER --------------
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 46px 0;
    position: relative;
  }

  &__left {
    display: flex;
  }

  &__burger-text {
    color: var(--durk-color);
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 1px;
    transition: var(--transition);
  }

  &__burger-lines {
    width: 35px;
    height: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;

    span {
      width: 35px;
      height: 2px;
      background: var(--durk-color);
      border-radius: 10px;
      transition: var(--transition);
    }

    span:last-child {
      width: 25px;
    }
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-left: -5px;
    position: relative;
    cursor: pointer;

    &:hover {
      .header__burger-text {
        color: var(--fruit-color);
      }

      .header__burger-lines span {
        background: var(--fruit-color);
      }
    }
  }


  &__phones {
    padding-left: 50px;
    margin-left: 45px;
    position: relative;

    &:before {
      content: '';
      width: 1px;
      height: 28px;
      background: var(--gray-color);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__phones-row {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__phones-number {
    color: var(--durk-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 12px;
    white-space: nowrap;
  }

  &__phones-description {
    color: var(--gray-color-var);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__search {
    margin-right: 45px;
    padding-right: 45px;
    position: relative;

    &:after {
      content: '';
      width: 1px;
      height: 28px;
      background: var(--gray-color);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__search-icon {
    display: block;
    padding: 5px;

    &:hover {
      svg {
        fill: var(--fruit-color);
      }
    }
  }

  &__basket {
    display: flex;
    align-items: center;
  }

  &__basket-icon {
    display: block;
    margin-right: 10px;
    padding: 5px;

    &:hover {
      svg {
        fill: var(--fruit-color);
      }
    }
  }

  &__basket-count {
    height: 15px;
    padding: 1px 5px 1px 5px;
    background: var(--fruit-color);
    border-radius: 4px;
    color: var(--white-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: flex;
    text-align: center;
  }
}

// -------------- end HEADER --------------
// -------------- CARDS --------------
.cards {
  margin: 40px 0 69px 0;

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: repeat(2, 266px);
    grid-gap: 30px;
    grid-auto-flow: dense;
  }

  &__item {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    padding: 40px 40px 86px 40px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    cursor: default;

    &:hover {
      .cards__more {
        transform: translateX(37px);
      }

      .cards__more-icon {
        opacity: 1;
        transform: rotate(0);
      }

      .cards__item-ellipse._horizontal {
        left: 0;
      }

      .cards__item-ellipse._vertical {
        top: 0;
      }
    }
  }

  &__item-bg {
    filter: url('#goo');
    position: absolute;
    left: -212px;
    top: 50%;
    transform: translateY(-50%);
    width: 206px;
    height: 300px;
    transition: var(--transition);

    .box {
      width: 100%;
      height: 100%;
      background-color: var(--juices-color);
      clip-path: polygon(80% 0, 95% 15%, 100% 40%, 100% 60%, 95% 85%, 80% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
    }
  }

  &__item:nth-child(4n+1) {
    grid-column: span 2;
    grid-row: span 1;

    .box {
      width: 381px;
      left: -379px;
      background-color: var(--fruit-color);
    }

    .cards__item-bg{
      left: -600px;
    }

    .cards__more {
      margin-top: 140px;
    }

    .cards__more p {
      color: var(--fruit-color);
    }

    &:hover {
      .cards__more p {
        color: var(--white-color);
      }

      .cards__item-bg {
        left: -20px;
      }

      .box {
        animation-name: animationHover;
        animation-duration: .7s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: unset;
      }
    }
  }

  &__item:nth-child(2n) {
    grid-column: span 1;
    grid-row: span 2;

    &._vegetables{
      .cards__item-bg{
        top: -370px;
        left: 50%;
        transform: translate(-50%, 0) rotate(90deg);
        width: 309px;
        height: 423px;
      }
    }

    .box {
      background-color: var(--vegetables-color);
    }

    .cards__more {
      margin-top: 139px;
    }

    .cards__more p {
      color: var(--vegetables-color);
    }

    &:hover {
      .cards__more p {
        color: var(--white-color);
      }

      &._vegetables{
        .cards__item-bg {
          top: -90px;
        }
      }


      .box {
        animation-name: animationHover;
        animation-duration: .7s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: unset;
      }
    }
  }

  &__item:nth-child(4n+3) {
    grid-column: span 1;
    grid-row: span 1;

    .box {
      background-color: var(--berries-color);
    }

    .cards__more p {
      color: var(--berries-color);
    }

    &:hover {
      .cards__more p {
        color: var(--white-color);
      }

      .cards__item-bg {
        left: -20px;
      }

      .box {
        animation-name: animationHover;
        animation-duration: .7s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: unset;
      }
    }
  }

  &__item:nth-child(4n) {
    grid-column: span 1;
    grid-row: span 1;

    .box {
      background-color: var(--juices-color);
    }

    .cards__more p {
      color: var(--juices-color);
    }

    &:hover {
      .cards__more p {
        color: var(--white-color);
      }

      .cards__item-bg {
        left: -20px;
      }

      .box {
        animation-name: animationHover;
        animation-duration: .7s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: unset;
      }
    }
  }





  &__description {
    position: absolute;
    z-index: 1;
    padding-right: 30px;
  }

  &__title {
    color: var(--durk-color);
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__slogan {
    color: var(--durk-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__more {
    display: block;
    margin-top: 122px;
    position: relative;
    transition: var(--transition);

    p {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      transition: var(--transition);
    }
  }

  &__more-icon {
    position: absolute;
    left: -42px;
    top: -23px;
    transform: rotate(-45deg);
    opacity: 0;
    transition: var(--transition);
  }

  &__item._fruit {
    background-position: right center;
    background-size: 344px 243px;
  }

  &__item._vegetables {
    background-position: right bottom;
    background-size: 292px 260px;
  }

  &__item._berries {
    background-position: right bottom;
    background-size: 192px 171px;
  }

  &__item._juices {
    background-position: right bottom;
    background-size: 162px 211px;
  }
}

// -------------- end CARDS --------------

// -------------- ANIMATION --------------
@keyframes animationHover {
  0% {
    clip-path: polygon(80% 0, 120% 31%, 54% 25%, 100% 67%, 42% 22%, 18% 82%, 0 100%, 0% 70%, 0% 35%, 0 0);
  }
  100% {
    clip-path: polygon(80% 0, 95% 15%, 100% 40%, 100% 60%, 95% 85%, 80% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
  }
}

@keyframes animationHoverInverse {
  0% {
    clip-path: polygon(80% 0, 95% 15%, 100% 40%, 100% 60%, 95% 85%, 80% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
  }
  100% {
    clip-path: polygon(80% 0, 120% 31%, 54% 25%, 100% 67%, 42% 22%, 18% 82%, 0 100%, 0% 70%, 0% 35%, 0 0);
  }
}

// -------------- end ANIMATION --------------



.cards__item._juices:hover {

}

.box {
  animation-name: animationHoverInverse;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
