// -------------- HEADER --------------
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 46px 0;
    position: relative;
  }

  &__left {
    display: flex;
  }

  &__burger-text {
    color: var(--durk-color);
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 1px;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    margin-left: -5px;
    position: relative;
    cursor: pointer;
  }

  &__burger-lines {
    width: 35px;
    height: 14px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;

    span {
      width: 35px;
      height: 2px;
      background: var(--durk-color);
      border-radius: 10px;
    }

    span:last-child {
      width: 25px;
    }
  }

  &__phones {
    padding-left: 50px;
    margin-left: 45px;
    position: relative;

    &:before {
      content: '';
      width: 1px;
      height: 28px;
      background: var(--gray-color);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__phones-row {
    display: flex;
    align-items: center;
  }

  &__phones-number {
    color: var(--durk-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 12px;
    white-space: nowrap;
  }

  &__phones-description {
    color: var(--gray-color-var);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__search {
    margin-right: 45px;
    padding-right: 45px;
    position: relative;

    &:after {
      content: '';
      width: 1px;
      height: 28px;
      background: var(--gray-color);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__search-icon {
    display: block;
    padding: 5px;
  }

  &__basket {
    display: flex;
    align-items: center;
  }

  &__basket-icon {
    display: block;
    margin-right: 10px;
    padding: 5px;
  }

  &__basket-count {
    height: 15px;
    padding: 1px 5px 1px 5px;
    background: var(--fruit-color);
    border-radius: 4px;
    color: var(--white-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: flex;
    text-align: center;
  }
}

// -------------- end HEADER --------------
// -------------- CARDS --------------
.cards {
  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-template-rows: repeat(2, 266px);
    grid-gap: 30px;
    grid-auto-flow: dense;
  }

  &__item {
    border-radius: 8px;
    background-color: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
    padding: 40px 40px 86px 40px;
    background-repeat: no-repeat;
  }

  &__item:nth-child(4n+1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  &__item:nth-child(2n) {
    grid-column: span 1;
    grid-row: span 2;
  }

  &__item:nth-child(4n+3) {
    grid-column: span 1;
    grid-row: span 1;
  }

  &__item:nth-child(4n) {
    grid-column: span 1;
    grid-row: span 1;
  }

  &__title {
    color: var(--durk-color);
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__slogan {
    color: var(--durk-color);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__more {
    display: block;
    margin-top: 47px;

  p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  }

  &__item._fruit {
    background-position: right center;
    background-size: 344px 243px;

    .cards__more{
      margin-top: 66px;
    }
    .cards__more p {
      color: var(--fruit-color);
    }
  }

  &__item._vegetables {
    background-position: right bottom;
    background-size: 292px 260px;

    .cards__more p {
      color: var(--vegetables-color);
    }
  }

  &__item._berries {
    background-position: right bottom;
    background-size: 192px 171px;

    .cards__more p {
      color: var(--berries-color);
    }
  }

  &__item._juices {
    background-position: right bottom;
    background-size: 162px 211px;

    .cards__more p {
      color: var(--juices-color);
    }
  }
}

// -------------- end CARDS --------------