.header__logo {
  svg {
    width: 217px;
    height: 56px;
  }
}

.header__search {
  svg {
    width: 25px;
    height: 25px;
    fill: var(--durk-color);
    transition: var(--transition);
  }
}

.header__basket-icon {
  svg {
    width: 28px;
    height: 28px;
    fill: var(--durk-color);
    transition: var(--transition);
  }
}

.cards__more-icon {
  width: 65px;
  height: 66px;
}


